<h1>Log In Below:</h1>

<form action = '/sessions' method = 'post'>
<label for="email">Email:</label>
<input label="email" id="email" type="string" name="email">
<label for="name">Password:</label>
<input label="password" id="password" type="string" name="password">
<button type="submit" name="login">Log In</button>
</form>