<h1>Sign Up Below:</h1>

<form action="/registrations"  method="post">
   <label for="Name"> Name: </label>
   <input label="Name" id="name" type="string" name="name">
   <label for="Email"> Email: </label>
   <input label="Email" id="email" type="string" name="email">
   <label for="Password"> Password: </label>
   <input label="Password" id="password" type="string" name="password">
   <button type="submit" name="Sign Up">Sign Up</button>
</form>